<%--
  Created by IntelliJ IDEA.
  User: milos
  Date: 11/28/2020
  Time: 1:02 PM
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Home page</title>
</head>
<body>
    <h2>CRM Rest API</h2>
</body>
</html>
